<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeedInsight Pro</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to SeedInsight</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'seed_recommendation' %}">Seed Recommendation</a>
        </nav>
    </header>
    <main>
        <h2>Get Started</h2>
        <p>Use the SeedInsight tool to get the best seed recommendations based on your ecozone.</p>
    </main>
    <footer>
        <p>Developed by Charles Mwaniki</p>
    </footer>
</body>
</html>

